body{
  background-color: black;
  min-height: 100%;
}


.margin{
  margin-left: 40px;
  margin-right: 40px;
}

.App{
  text-align:center;
  font-family:'Courier New', Courier, monospace;
  color: whitesmoke;
  margin-top: 5px;
  font-size: 20px;
}


ul li{
  padding-left: 10%;
  list-style-type: none;
  margin-right: 20px;  
}

@font-face{
  font-family: RocknRoll One;
  src: url(./fonts/RocknRollOne-Regular.ttf);
}
/* font-family: RocknRoll One; */
/* h5{
  font-size: 20px;
  text-align: left;
  display:inline-flex;
  padding-top: 5%;
  padding-right: 60%;

}

h6{
  font-size: 20px;
} */
